
.post-main-page {
    display: flex;
    justify-content: center;
    flex: 1;
}

.post-holder {
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 800px;
    min-height: 250px;
    margin-top: 25px;

    border-style: solid;
}

